body a{
    text-decoration: none;
}

table{
    font-family: Arimo;
    border: 30px solid #374765;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td{
    box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, 0.27);
}

td{
    vertical-align: middle;
}

thead, tfoot, tbody{
    text-align: center;
}
thead{
    background-color: #fafafa;
}

.prices-headline{
    width: 310px;
    height: 156px;
    vertical-align: middle;
}

.first-line-text{
    color:  #484848;
    font-size: 18px;
    font-weight: 700;
}

.second-line-text{
    color:  #484848;
    font-size: 30px;
    font-weight: 700;
}

.tarrif-plan-name-standart{
    background-color: #8ac42d;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    width: 277px;
    height: 70px;
    vertical-align: middle;
}

.tarrif-plan-name-ultimate{
    background-color: #f04a56;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    width: 277px;
    height: 70px;
    vertical-align: middle;
}

.tarrif-plan-name-premium{
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    width: 277px;
    height: 70px;
    vertical-align: middle;
}

.tarrif-plan-price{
    position: relative;
    padding-top: 13px;
}

.dollars{
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
}

.cents{
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 19px;
}

.cell{
    width: 277px;
    height: 110px;
    vertical-align: middle;
}

.table-button-cell-contacts{
    background-color: #dedede;
}

.table-button-cell-buy1{
    background-color: #eeeeef;
}

.table-button-cell-buy2{
    background-color: #f4f4f4;
}

.table-button-cell-buy3{
    background-color: #eeeeef;
}

.btn-contacts{
    color: #ffffff;
    padding: 17px 45px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
}

.btn-buy1{
    color: #ffffff;
    padding: 17px 58px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #89c331 85%, #79b027 15%);
}

.btn-buy2{
    color: #ffffff;
    padding: 17px 58px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
}

.btn-buy3{
    color: #ffffff;
    padding: 17px 58px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #20807c 85%, #16736f 15%);
}

.btn-contacts:hover{
    box-shadow: inset 0px 0px 1px 6px #7f6c6c;
}

.btn-buy1:hover{
    box-shadow: inset 0px 0px 1px 6px #8ad618;
}

.btn-buy2:hover{
    box-shadow: inset 0px 0px 1px 6px #e51919;
}

.btn-buy3:hover{
    box-shadow: inset 0px 0px 1px 6px #19a8b3;
}

.tbody-line{
    background-color: #f2f2f2;
}

.tbody-line:nth-child(even){
    background-color: #e3e3e3;
}

.conditions{
    height: 69px;
    vertical-align: middle;
}

.fas{
    color: #848484;
    padding-right: 12px;
}


